{{ form_start(form) }}
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form_label(form.image) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.image) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.image) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form_label(form.name_company) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.name_company) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.name_company) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.name_job) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.name_job) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.name_job) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.type_contrat) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.type_contrat) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.type_contrat) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.duree_contrat) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.duree_contrat) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.duree_contrat) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.pays) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.pays) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.pays) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.ville) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.ville) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.ville) }}</div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-10">
        <button type="submit" class="btn {{ btn_color }}">{{ btn_name }}</button>
    </div>
</div>
{{ form_end(form) }}