<style>
    #project_technos {
        display: flex;
        flex-wrap: wrap;
    }

    .form-check {
        /*padding: 10px;*/
        margin: 5px;
    }
</style>
{{ form_start(form) }}
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form_label(form.file) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.file) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.file) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">{{ form_label(form.name) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.name) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.name) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="basic-icon-default-confirm-password">{{ form_label(form.startAt) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.startAt) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.startAt) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label"
           for="basic-icon-default-confirm-password">{{ form_label(form.finishAt) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.finishAt) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.finishAt) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label"
           for="basic-icon-default-confirm-password">{{ form_label(form.technos) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.technos) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.technos) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label"
           for="basic-icon-default-confirm-password">{{ form_label(form.description) }}<span
                class="text-danger">*</span></label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="form-text text-center">{{ form_errors(form.description) }}</div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label"
           for="basic-icon-default-confirm-password">{{ form_label(form.website) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.website) }}
        </div>
    </div>
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label"
           for="basic-icon-default-confirm-password">{{ form_label(form.github) }}</label>
    <div class="col-sm-10">
        <div class="input-group input-group-merge">
            {{ form_widget(form.github) }}
        </div>
    </div>
</div>
<div class="row justify-content-end">
    <div class="col-sm-10">
        <button type="submit" class="btn {{ btn_color }}">{{ btn_name }}</button>
    </div>
</div>
{{ form_end(form) }}