<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Daouda S. THERA">
    <meta name="keywords" content="portfolio, Daouda, THERA, Développeur, fullstack, mali, PHP, Symfony, Laravel, web">
    <meta name="description"
          content="Daouda S. THERA, Développeur Full-Stack PHP (Laravel-Symfony) - JavaScript (Vue JS, React JS) depuis 2019. Ingénieur en informatique,
          je suis a aCAN Group depuis plus de 2 ans. Au contact de grandes entreprises (Eutelsat, DMedia, WalfTV ...)
          ou du ministère (SIMEN, RTS), j'ai acquis la capacité de concevoir (Modelisation UML et Merise) et de développer des applications
          en respectant les bonnes pratiques (clean code, principes S.O.L.I.D). Vous voulez en savoir plus, merci de me contacter !">
    <meta>
    <title>{% block title %}Daouda S. THERA!{% endblock %}</title>
    <link rel="icon" href="{{ asset('frontend/image/logo.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block styles %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
</head>
<body>
<div class="landing-page">
    <header class="landing-header">
        <div class="logo">
            <a href="{{ path('front_home') }}">
                <h1 class="logo-text">Thera</h1>
            </a>
        </div>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#">Experiences</a>
                </li>
                <li class="nav-item">
                    <a href="#">Works</a>
                </li>
                <li class="nav-item">
                    <a href="#">Skills</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="contact">
            <span class="contact-number">(+221) 77 619 01 98</span>
            <img src="{{ asset('frontend/image/phone.png') }}" alt="phone">
        </div>
    </header>
    <div class="landing">
        <img class="geographie" src="{{ asset('frontend/image/geographie.png') }}" alt="geographie">
        <img class="my-photo" src="{{ asset('frontend/image/profile-2.png') }}"
             alt="myphoto">
        <div class="info">
            <h1 class="hello animate__animated animate__backInLeft">Hey There, I'm THERA</h1>
            <a class="email animate__animated animate__backInLeft" href="mailto:ddthera@gmail.com">ddthera@gmail.com</a>
            <div class="experience-number animate__animated animate__backInLeft">
                <h1>+3</h1>
                {#                <p> #}
                {#                    Years experience<br> #}
                {#                    Développeur web PHP Full-Stack #}
                {#                </p> #}
                <p>
                    ans d'experience dans le<br>
                    développement web
                </p>
            </div>
        </div>
        <div class="about animate__animated animate__fadeInRight">{{ user.about }}</div>
    </div>
    <div class="study-process">
        <h1>Plus d'informations 👇</h1>
    </div>
</div>
<div class="work-experience">
    <h1 data-aos="fade-down">Mes Experiences</h1>
    <div class="experiences">
        <div class="experience-item">
            <div class="company" data-aos="fade-left">
                <h2>{{ experiences[0].nameCompany }}</h2>
                <dfn>{{ experiences[0].dureeContrat }}</dfn>
            </div>
            <div class="job" data-aos="fade-right">
                <h2>{{ experiences[0].nameJob }}</h2>
                <p>Réalisation du site web Abed (Association de Bienfaisance pour l’Éducation et le Développement)</p>
            </div>
        </div>
        <div class="experience-item">
            <div class="company" data-aos="fade-right">
                <h2>{{ experiences[1].nameCompany }}</h2>
                <dfn>{{ experiences[1].dureeContrat }}</dfn>
            </div>
            <div class="job" data-aos="fade-left">
                <h2>{{ experiences[1].nameJob }}</h2>
                <p>
                    - Conception et réalisation d’une plateforme de streaming (RafinaTV).<br/>
                    - Conception et réalisation d’une plateforme de gestion de billetterie pour le PTB S.A. (une
                    société de transport de voyageurs par voie ferroviaire).
                </p>
            </div>
        </div>
        <div class="experience-item">
            <div class="company" data-aos="fade-left">
                <h2>{{ experiences[2].nameCompany }}</h2>
                <dfn>{{ experiences[2].dureeContrat }}</dfn>
            </div>
            <div class="job" data-aos="fade-right">
                <h2>{{ experiences[2].nameJob }}</h2>
                <p>
                    • Réalisation du site web de la RTS <br/>
                    • Conception et réalisation d’une plateforme de réservation
                    de billet (Dakar Dem Dikk) <br/>
                    • Conception et réalisation de EDUSTAT une plateforme de
                    traitement et d’analyse de données (Ministère de
                    l’éducation du Sénégal) <br/>
                    • Conception et réalisation d’une plateforme de gestion de
                    contenu ACANVOD (RTS, DMEDIA, WalfTV ...) <br/>
                    • Conception et réalisation d’une plateforme de suivi budgétaire pour le Ministère de l’Eau et de
                    l’Assainissement du Sénégal (MEA) <br/>
                    • Le Caba de l’info : Est une application qui vous apporte
                    l’info de votre région et les futurs évènements <br/>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="latest-work">
    <div class="head" data-aos="zoom-in-down">
        <div class="left">
            <h1>Mes derniers projets</h1>
            <p>Des solutions parfaites avec une meilleure expérience utilisateur</p>
        </div>
        <div class="right">
            <a href="#">Explore More Work</a>
        </div>
    </div>
    <div class="body swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card-project">
                    <a href="#">
                        <img src="{{ asset('uploads/telechargement-7-62b727cf81534.png') }}" alt="image du projet">
                        <h2>Caba Info</h2>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-project">
                    <a href="#">
                        <img src="{{ asset('uploads/telechargement-7-62b727cf81534.png') }}" alt="image du projet">
                        <h2>Caba Info</h2>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-project">
                    <a href="#">
                        <img src="{{ asset('uploads/telechargement-7-62b727cf81534.png') }}" alt="image du projet">
                        <h2>Caba Info</h2>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card-project">
                    <a href="#">
                        <img src="{{ asset('uploads/telechargement-7-62b727cf81534.png') }}" alt="image du projet">
                        <h2>Caba Info</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="skills">
    <div class="head">
        <h1 data-aos="zoom-in-down">Mes compétences</h1>
    </div>
    <div class="skill-container">
        <div class="carousel">
            <div class="carousel__cards">
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
                <div class="carousel__card">
                    <img class="carousel__img"
                         src="https://picsum.photos/200" alt="#">
                </div>
            </div>
            <div class="carousel__control">
                <img class="carousel__btn carousel__btn--back" src="{{ asset('frontend/image/left-arrow.png') }}"
                     alt="Left arrow bouton">
                <img class="carousel__btn carousel__btn--next" src="{{ asset('frontend/image/right-arrow.png') }}"
                     alt="Right arrow bouton">
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="start">
        <div class="left" data-aos="fade-right"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine">
            <h2 class="lets-work">Faisons quelque chose d'incroyable ensemble...</h2>
            <h2 class="take-contact">Commencez par me<span> contacter 👉</span></h2>
        </div>
        <div class="right" data-aos="fade-left"
             data-aos-offset="300"
             data-aos-easing="ease-in-sine">
            <h2>Contact info</h2>
            <p>(+221) 77 619 01 98</p>
            <nav>
                <li><a href="#">Experiences</a></li>
                <li><a href="#">Projets</a></li>
                <li><a href="#">Compétences</a></li>
                <li><a href="#">Contact</a></li>
            </nav>
        </div>
    </div>
    <div class="end">
        <div class="left">
            <span class="logo">Thera</span> | {{ "now" |  date('Y') }}.All rights Reserved
        </div>
        <div class="right">
            Design figma by <span>Nhan</span>
        </div>
    </div>
</footer>

<script src="{{ asset('frontend/js/jquery.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>
</html>